In [15]:
from itertools import product

a = [1, 2]
b = [3, 4]
prod = product(a, b)
print(list(prod))

a = [1, 2]
b = [3]
prod = product(a, b, repeat=2)
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]
[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [16]:
from itertools import permutations

c = [1, 2, 3]
perm = permutations(c)
print(list(perm))
perm = permutations(c, 2)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [17]:
from itertools import combinations

d = [1, 2, 3, 4]
comb = combinations(d, 2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [18]:
from itertools import combinations_with_replacement

d = [1, 2, 3, 4]
comb = combinations_with_replacement(d, 2)
print(list(comb))

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [19]:
from itertools import accumulate

d = [1, 2, 3, 4]
acc = accumulate(d)
print(list(acc))

import operator

acc = accumulate(d, func=operator.mul)
print(list(acc))

[1, 3, 6, 10]
[1, 2, 6, 24]

In [20]:
from itertools import groupby

def larger_than_4(a):
    return a > 4
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
group = groupby(list1, key=larger_than_4)

for key, value in group:
    print(key, list(value))

False [1, 2, 3, 4]
True [5, 6, 7, 8, 9]

In [21]:
from itertools import count

for i in count(100):
    print(i, end=" ")
    if i == 111:
        break

100 101 102 103 104 105 106 107 108 109 110 111

In [22]:
from itertools import cycle

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for i in cycle(list1):
    print(i, end=" ")
    count += 1
    if count == 14:
        break

1 2 3 4 5 6 7 8 9 10 1 2 3 4

In [23]:
from itertools import repeat

for i in repeat(1, 12):
    print(i, end=" ")

1 1 1 1 1 1 1 1 1 1 1 1